# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/target/
*.classpath
*.component
.settings/org.eclipse.wst.common.project.facet.core.xml
*.class
*.class
*.class
*.class
*.class
*.classpath
.project
*.component
*.class
target/test-classes/log4j.xml
target/m2e-wtp/web-resources/META-INF/maven/com.funongo/cms/pom.properties
.project
.project
target/test-classes/log4j.xml
*.class
target/m2e-wtp/web-resources/META-INF/maven/com.funongo/cms/pom.properties
target/classes/com/funongo/cms/bo/CategoryBO.class
*.class
*.class
target/classes/com/funongo/cms/HomeController.class
target/classes/com/funongo/cms/conf/DataSourceBean.class
*.class
target/classes/com/funongo/cms/service/ExcelValidatorService.class
*.class
target/m2e-wtp/web-resources/META-INF/maven/com.funongo/cms/pom.properties
target/test-classes/log4j.xml
target/classes/com/funongo/cms/conf/DataSourceBean.class
*.class
target/classes/com/funongo/cms/service/ContentService.class
target/classes/com/funongo/cms/ExcelImportController.class
target/classes/com/funongo/cms/conf/DataSourceBean.class
*.class
target/classes/com/funongo/cms/service/ContentService.class
target/m2e-wtp/web-resources/META-INF/maven/com.funongo/cms/pom.properties
